# Mozilla Add-ons (AMO) API credentials, read by `web-ext sign`.
# Create them at https://addons.mozilla.org/developers/addon/api/key/
WEB_EXT_API_KEY=user:00000000:00
WEB_EXT_API_SECRET=replace-with-jwt-secret
